.register__page {

	&.formBox {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		transform: translate(-50%, -50%);

		& .card {
			border: 0;
		}

		& a {
			text-decoration: none;
			color: #033C73;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}